<!--/*
File name : app.js
Description : This file is made as a part of Lab 5
Student's name : Karandeep
StudentID : 100734535
Student's name : Ritu Patel
StudentID : 100730021
Student's name : Harmanpreet Kaur
StudentID : 100734511
Date : 2020-04-16
*/-->

<%- include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1><%= title %> Contact</h1>

            <form action="" class="form" method="POST">
                <div class="form-group">
                    <label for="ContactNameTextField">Contact Name</label>
                    <input type="text" class="form-control" 
                    id="ContactNameTextField" 
                    placeholder="Enter Contact Name"
                    name="contactName" 
                    value="<%= contact.contactName %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="ContactEmailTextField">Contact Email</label>
                    <input type="text" class="form-control" 
                    id="ContactEmailTextField" 
                    placeholder="Enter Contact Email"
                    name="contactEmail" 
                    value="<%= contact.contactEmail %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="ContactNumberTextField">Contact Number</label>
                    <input type="tel" class="form-control" 
                    id="ContactNumberTextField" 
                    placeholder="Enter Contact Number"
                    name="contactNumber" 
                    value="<%= contact.contactNumber %>"
                    required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> <%= title %></button>
                <a href="/contact-list" class="btn btn-warning">
                    <i class="fas fa-undo"> Cancel</i></a>

            </form>
            
        </div>
    </div>
</div>

<!-- Bottom components -->
<%- include ../partials/scripts.ejs %>
<%- include ../partials/footer.ejs %>
<%- include ../partials/bottom.ejs %>